:root {
  --full-width: 384px; /* primitive mobile simulation */
  --dark-lime: #a7e100;
}

.App {
  text-align: center;
  margin: 0 auto;
  width: var(--full-width);
  box-shadow: 3px 3px 12px 4px black;
}

.App-header {
  display: flex;
  justify-content: space-between;
  background-color: #2f3b80;
  height: 100px;
  padding-top: 1rem;
}

.App-header-menu {
  color: var(--dark-lime);
  margin-left: 16px;
  margin-top: 16px;
  width: 48px;
  height: 48px;
}

.App-header-title {
  text-align: center;
  color: white;
  font-size: 3rem;
}

.App-header-login {
  width: 48px;
  margin-right: 16px;
}

.App-footer {
  padding: 1rem;
  background-color: #2f3b80;
  text-align: left;
  color: white;
  font-size: 1rem;
}

.App-footer > ul {
  list-style: none;
}

.App-link {
  color: #61dafb;
}
