.DailyPlan {
  background-color: white;
  text-align: left;
  margin: 0;
  padding: 18px;
}

.DailyPlan-Demand {
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 16px;
}

.DailyPlan-Title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.DailyPlan-Date {
  text-align: center;
}

.DailyPlan-Date :first-child {
  font-size: 0.7rem;
  font-weight: 600;
  margin-bottom: -6px;
}
.DailyPlan-Date :last-child {
  font-size: 1.6rem;
  font-weight: 600;
}
