.Meal {
  padding-top: 32px;
  display: flex;
  width: 100%;
  justify-content: stretch;
  align-items: baseline;
}

.Meal-Reload {
  color: blue;
  text-align: right;
  flex-grow: 2;
}

.Meal-Title {
  font-size: 1.1rem;
  font-weight: 600;
}

.Meal-Time {
  color: gray;
  font-size: 0.9rem;
  padding-left: 8px;
}
