.Nutrients {
  display: flex;
  justify-content: space-around;
  padding: 8px 8px;
}

.Nutrients-Circle {
  color: black;
  border-radius: 50%;
  font-size: 0.9rem;
  text-align: center;
  width: 72px;
  height: 72px;
  border: 2px solid blue;
  padding-top: 12px;
}
