.Recipe {
  background-color: #e5e8fa;
  text-align: left;
  color: white;

  box-shadow: 2px 3px 8px lightgray;
}

.Recipe-Image {
  position: relative;
}

.Recipe img {
  width: 100%;
  height: calc(100% * 9 / 16);
  object-fit: cover;
}

.Recipe-Title {
  font-size: 2rem;
  font-weight: 600;
  position: absolute;
  bottom: 32px;
  left: 16px;
}

.Recipe-Duration {
  font-size: 1.2rem;
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.Recipe-Label {
  font-size: 1.3rem;
  position: absolute;
  top: 16px;
  right: 16px;
  border-radius: 8px;
  padding: 3px 16px;
  color: black;
  background-color: aliceblue;
}

.Recipe-Nutrients {
  color: black;
  padding: 8px 8px;
}
